*{margin:0;padding:0;}
/*Define embedded font name and source file*/
@font-face {font-family: Fontin-Regular; src: url(../graphics/Fontin-Regular.otf);}
@font-face {font-family: EPF-LC; src: url(../graphics/epf_lc.ttf);}

body{font-family:EPF-LC, sans-serif;background:#373B40;color:#fff;}
.main{height: auto;margin-top:20px;/*background: url("../graphics/mcnair_typo.png") fixed repeat-x center/100% auto;*/}

header .navbar{/*display:none;*/}
/*.navbar-fixed-top{position:fixed;right:0;left:0;z-index:1030;}*/

/* Styling */
.cnum{text-align: right;font-size: 2em;display:none;}
.cnum span{color:#797c7f;}

.col-8{padding-left:40px}

.jumbotron{border-radius:0 !important; /*padding:0 !important;*/ background:none;}

#home h1{font-family:Fontin-Regular, sans-serif;font-size: 800%}

#about h2{font-family:Fontin-Regular, sans-serif;}
#about p{text-indent: 50px;}

#portfolio h2{font-family:Fontin-Regular, sans-serif;}
#portfolio .row{padding-bottom: 20px;}

#contact{font-family:Fontin-Regular, sans-serif;}
#contact button{font-size: 1.4em;padding:0;}
.form-style .btn-block{height:100%;}
.error{color:red;}
.success{color:green;text-align: center;font-weight: bold;font-size: 14px;}

#footer .jumbotron{font-family:sans-serif;margin-bottom: 0; background:#558D02;}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 640px) {
    #contact button{font-size: 3em;}
} 

/* Medium devices (tablets, 768px and up) 
@media (min-width: 768px) { .main{background:yellow; } */


