*{margin:0;padding:0;}
/*Define embedded font name and source file*/
@font-face {font-family: Fontin-Regular; src: url(../graphics/Fontin-Regular.otf);}
@font-face {font-family: EPF-LC; src: url(../graphics/epf_lc.ttf);}

body{font-family:EPF-LC, sans-serif;background:#373B40;color:#fff;}
.main{height: auto;/*background: url("../graphics/mcnair_typo.png") fixed repeat-x center/100% auto;*/}

/*header .navbar{display:none;}
/*.navbar-fixed-top{position:fixed;right:0;left:0;z-index:1030;}*/

/* Styling */
.cnum{text-align: right;font-size: 2em;display:none;}
.cnum span{color:#797c7f;}

.col-8{padding-left:40px}

.jumbotron{border-radius:0 !important; /*padding:0 !important;*/ background:none;}

#home .navbar{z-index:1030;background:#797c7f;}
.navbar-brand{display:block;}

.intro{display:none;}
.intro h1{font-family:Fontin-Regular, sans-serif;font-size: 800%}

#about h2{font-family:Fontin-Regular, sans-serif;}
#about p{text-indent: 50px;}

#portfolio h2{font-family:Fontin-Regular, sans-serif;}
#portfolio .row{ padding-bottom: 20px;}

#contact{font-family:Fontin-Regular, sans-serif;}
#contact button{font-size: 3em;padding:0;}
.form-style .btn-block{height:100%;}

#footer .jumbotron{font-family:sans-serif;margin-bottom: 0; background:#558D02;}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 640px) {
	.intro{padding-top: 50px;display:block;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 786px) {
    #contact button{font-size: 1.4em;}
    .navbar-brand{display:none;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { .main{background-size:620px 100%;}.cnum{display:block;} }

/* Extra large devices (large desktops, 1200px and up) */ 
@media (min-width: 1200px) { .main{background-size:740px 100%;} } 


/* Syntax
background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;
*/